@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color:#f3f3f3;
  --secondary-color: #e1e1e1;
  --tertiary-color:#B8B8B7;
  --text-color: #0c1439;
  --blue-color: #152673;
  --blue-color-secondary: #3b52bc;

  --margin-xs: 5px;
  --margin-s: 10px;
  --margin-m: 20px;
  --margin-l: 30px;
  --margin-xl: 40px;

  --padding-xs: 5px;
  --padding-s: 10px;
  --padding-m: 20px;
  --padding-l: 30px;
  --padding-xl: 40px;


  --gap-s: 15px;
  --gap-m: 30px;
  --gap-l: 45px
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}