.divAttendees {
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    padding: var(--padding-m);
}

.cardAttendee {
    width: 250px;
    height: 400px;
    border-radius: 20px;
    border: 3px solid var(--tertiary-color);
    padding: var(--padding-s);
}

h4 {
    font-size: 1.2em;
    color: var(--blue-color);
    padding-left: var(--padding-s);
}

h5 {
    font-size: 1em;
    font-weight: 600;
    color: var(--blue-color);
    padding-left: var(--padding-s);
}

.divEvent {
    height: 280px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.divEvent::-webkit-scrollbar {
    width: 5px;
}

.divEvent::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
}


.event {
    padding: var(--padding-s);
    margin: var(--margin-xs);
    border-radius: 20px;
    border: 2px solid var(--tertiary-color);
}

.event > p {
    font-size: 0.75em;
    font-style: italic;
}

p.eTitle {
    font-size: 0.9em;
    color: var(--blue-color);
    font-weight: 500;
    font-style: normal;
}

.pVacio {
    text-align: center;
    margin-top: var(--margin-xl);
}